<div class="jumbotron jumbotron-fluid animated fadeIn fast m-4">

    <h1 class="m-2">Curriculum</h1>

</div>
<div class="container l-12">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-3 one">
                <img src="../../../assets/img/caricaturas.jpg" height="280" class="card-img" alt="Dr.House">
                <br><br>
                <p class="m-2">Sobre mí</p>
                <hr class="m-2">
                <p class="m-2">Soy una persona orgullosa, egocéntrica, petulante y miro por encima del hombro a mis pacientes ya que he comprobado que la mayoría de personas enferma por sus hábitos clandestinos y cuando sucede ello recurren a la Internet antes que a
                    un consultorio médico.</p>
                <br>
                <p class="m-2">Contacto</p>
                <hr class="m-2"><br>
                <ul>
                    <li>
                        Teléfono: 55602922
                    </li>
                    <li>
                        Correo: house@gmail.com
                    </li>
                </ul>
                <br>
                <p>Habilidades</p>
                <hr class="m-2"><br>
                <ul>
                    <li>
                        Atención al cliente
                    </li>
                    <li>
                        Solucion de problemas
                    </li>
                    <li>
                        Buen investigador
                    </li>
                </ul>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">Gregory</h3>
                    <h2><strong>House Perez</strong></h2><br>
                    <p class="card-text"><small class="text-muted">Doctor cirujano/general</small></p>
                </div>
            </div>
        </div>
    </div>
</div>